@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Crete Round from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
/* Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

body {
	margin: 0;
	font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background: #202124;
}